---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- Features2 Widget ************** -->

  <Features2
  tagline='Contact Us'
    title="We are here to help you."
    items={[
      {
        title: 'General support',
        description: `For any questions or assistance regarding our services, operational inquiries, or general support needs, our team is available to chat with you. We're committed to providing prompt and informative responses to ensure your experience with us is seamless.`,
      },
      {
        title: 'Contact sales',
        description:
          'Considering partnering with OurWorld FreeZone? Chat with our sales team to discover how our digital free zone can benefit your business. Whether you are looking to expand internationally or streamline your operations, we provide tailored solutions to meet your specific needs.',
      },
      {
        title: 'Technical support',
        description:
          'Need technical assistance with our digital infrastructure or services? Our technical support team is equipped to address your queries and resolve any issues promptly. We are dedicated to ensuring the smooth operation of your business within our innovative digital environment.',
      },
      {
        title: 'Customer Service',
        description: '<a href=\"https://threefoldfaq.crisp.help/en/\" target=\"_blank\"><u>Visit Our Customer Service Portal</u></a>',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: '<a href=\mailto:"info@ourworld.tf" target=\"_blank\"><u>info@ourworld.tf</u></a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Follow Us',
        description: '<a href=\"https://t.me/threefoldnews/\" target=\"_blank\"><u>Join Our Telegram</u></a>',
        icon: 'tabler:brand-telegram',
      },
    ]}
  />
</Layout>
