---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features0 from '~/components/widgets/Features0.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'OurWorld Digital FreeZone',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Welcome to"
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: 'Learn more', href: '#features', },
    ]}
    image={{ src: '~/assets/images/ow.svg', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      OurWorld Digital FreeZone
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">ODFZ</span> OurWorld Digital Free Zone is a collaboration between the Government of Zanzibar and OurWorld Venture Creator. We are the world's first 100% digital free zone, accessible and affordable for all. Removing complexity from doing business.
        </span>
    </Fragment>
  </Hero>


  <!-- Features2 Widget ************** -->

  <Features2
    id="about"
    title="About us"
    subtitle="OurWorld Digital FreeZone offer cutting-edge digital infrastructure, simplified financial transactions, and competitive tax structures to foster innovation and economic growth. With a clear regulatory framework and robust dispute resolution, we ensure a stable environment for businesses to thrive, removing complexity and enabling effortless global expansion."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="Why Choose a Digital Free Zone"
    subtitle="Our automated onboarding process, will ensure compliance with KYC and AML regulations at ease and efficiency."
    items={[
      {
        title: 'Fully Automated Onboarding',
        description:
          'A digital free zone fosters effortless collaboration among individuals and organizations by eliminating intermediaries.',
        icon: 'tabler:automation',
      },
      {
        title: 'Banking & Web3 Compatible',
        description:
          'Seamlessly manage both fiat and digital currencies with our comprehensive banking solutions compatible with Web3 technologies.',
        icon: 'tabler:circle-dashed-check',
      },
      {
        title: 'Built-in Legal & Tax Settlement',
        description:
          'Experience hassle-free business operations, as we provide built-in legal and tax settlement services, simplifying legal obligations.',
        icon: 'tabler:gavel',
      },
      {
        title: 'Affordable & Flexible Company Licenses',
        description:
          'Ourworld Free Zone offers cost-effective and flexible company licenses, making it easier to kickstart your entrepreneurial journey.',
        icon: 'tabler:award',
      },
      {
        title: 'Sovereign Economic Jurisdiction',
        description:
          "Ourworld Free Zone empowers businesses to operate within an independent economic environment, fostering growth and prosperity.",
        icon: 'tabler:flag',
      },
      {
        title: 'Powered by Data Sovereign Tech',
        description:
          'Your Privacy, Your Data, Your Security. Our Quantum Safe Storage will empower you to safeguard your digital information.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features0
    id="zanzibar"
    title="Why Zanzibar?"
    subtitle="With proactive business-friendly policies and Tanzania's robust economic growth, Zanzibar emerges as a promising hub for innovation and investment in East Africa."
    items={[
      {
        title: 'Strategic Location',
        description:
          'Situated at the intersection of Africa and the Indian Ocean, Zanzibar boasts a rich cultural heritage and provides convenient access to both regional and global markets.',
        icon: 'flat-color-icons:collect',
      },
      {
        title: 'Rapid Economic Growth',
        description:
          'In recent years, Tanzania has maintained a robust economic growth rate averaging 6-7% annually, underscoring its strong economic potential and stability.',
        icon: 'flat-color-icons:flash-on',
      },
      {
        title: 'Business-Friendly Policies',
        description:
          'Tanzania was recognized among the top 10 most improved economies globally in 2020 by the World Bank, demonstrating a proactive approach in adapting agile business policies.',
        icon: 'flat-color-icons:positive-dynamic',
      },
    ]}
    
  >
    <Fragment slot="bg">
      <div class="bg-grad"></div>
    </Fragment>
  </Features2>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    id="benefits"
    tagline="Benefits"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Sign Up Now', href: '/contact' },
      {  text: 'Learn more', href: 'https://ourworldfreezone.github.io/info_freezone/intro/intro_readme.html',  target: '_blank', },
    ]}
    image={{
      src: 'src/assets/images/simple.png',
      alt: 'img',
    }}
  >
    <Fragment slot="title">
      Simple. Streamlined.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        For the entrepreneur, the digital nomad, or any company, we provide a revolutionary platform where you can obtain a digital company license, a bank account supporting both fiat and cryptocurrencies, and handle your legal requirements and taxes, all within a single, streamlined platform.<br>
        <br>Say goodbye to complexities and hello to a new era of simplicity and efficiency, empowering your business to thrive like never before.
    </Fragment>
  </Hero2>


  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay Informed with ODFZ's Blog"
    information={`Explore our comprehensive collection of insightful articles and the latest news updates about OurWorld Digital Freezone's ongoing and upcoming developments. Stay informed with exclusive insights into our innovative projects and initiatives shaping the future of digital environments.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    id="presale"
    tagline="Company License Presale"
    title="Secure your spot with a Special Offer Price"
    subtitle="Be among the first to secure your company license with our exclusive presale offer at a special price. Embrace the future of digital entrepreneurship with OurWorld Free Zone and kickstart your business journey with unprecedented advantages."
    actions={[
      { variant: 'primary', text: 'Join the Presale', href: '#', icon: 'tabler:square-rounded-arrow-right' },
      {  text: 'Learn more', href: 'https://ourworldfreezone.github.io/info_freezone/intro/intro_readme.html',  target: '_blank',  },
    ]}
    image={{
      src: 'src/assets/images/zanzibar.png',
      alt: 'Store with a Coming Soon sign. Pre-launch Landing Page',
    }}
  />


  <!-- FAQs Widget ******************* -->
  
    <FAQs
      id="faq"
      title="Frequently Asked Questions"
      items={[
        {
          title: 'What is OurWorld Digital FreeZone?',
          description:
            'OurWorld Digital FreeZone is the worlds first 100% digital free zone, designed to simplify and enhance business operations through advanced digital infrastructure. Strategically located in Zanzibar, it offers businesses seamless access to regional and global markets, fostering innovation and economic growth.',
          icon: 'tabler:chevrons-right',
        },
        {
          title: 'What are the benefits of operating within OurWorld Digital FreeZone?',
          description: `Businesses within OurWorld Digital FreeZone enjoy numerous benefits, including reduced tax burdens, streamlined financial transactions, and a supportive regulatory environment. The digital infrastructure facilitates efficient collaboration and global expansion, making it an ideal hub for ecommerce and service providers.`,
          icon: 'tabler:chevrons-right',
        },
        {
          title: 'How does OurWorld Digital FreeZone support financial transactions?',
          description:
            'OurWorld Digital FreeZone offers a frictionless banking environment, enabling businesses to send and receive money effortlessly. This reduces the complexities and fees associated with traditional banking systems, ensuring smooth financial operations.',
          icon: 'tabler:chevrons-right',
        },
        {
          title: 'What makes Zanzibar an ideal location for a digital free zone?',
          description: `Zanzibar's strategic location at the crossroads of Africa and the Indian Ocean provides a culturally rich environment and exceptional access to regional and global markets. Combined with Tanzania's robust economic growth and proactive business-friendly policies, Zanzibar is an emerging hub for innovation and investment in East Africa.`,
          icon: 'tabler:chevrons-right',
        },
      ]}
    >
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </FAQs>
  
    <!-- Steps2 Widget ****************** -->
  
    <Steps2
      id="cta"
      title="Reach out to us"
      subtitle="Have questions? Feel free to reach out to us with any inquiries or collaborations; we're here to assist you!"
      callToAction={{
        text: 'Contact us',
        href: '/contact',
      }}
      items={[
        {
          title: 'Email us',
          description: '<a href=\mailto:"info@ourworld.tf" target=\"_blank\"><u>info@ourworld.tf</u></a>',
          icon: 'tabler:mail',
        },
        {
          title: 'Chat',
          description: '<a href=\"https://threefoldfaq.crisp.help/en/\" target=\"_blank\"><u>Visit Our Customer Service Portal</u></a>',
          icon: 'tabler:headset',
        },
        {
          title: 'Follow us',
          description: '<a href=\"https://t.me/threefoldnews/\" target=\"_blank\"><u>Join Our Telegram</u></a>',
          icon: 'tabler:brand-telegram',
        },
      ]}
    />
</Layout>
